@media (min-width: 1200px) {

}

@media (max-width: 1199px) {

.service .section-title p {
    padding: 0 15px;
}
 .home-content h1{
     font-size: 70px;
 }
 .home-btn {
    height: 60px;
    width: 250px;
    line-height: 58px;
}
.main-menu li {
    margin-right: 35px;
}

.footer-menu li {
    margin-left: 19px;
}


}

@media (max-width: 991px) {


    .sec-pad-bottom {
        padding-bottom: 100px;
    }
    .sec-pad-top {
        padding-top: 100px;
    }
    header {
        height: 80px;
    }
    
    .logo {
        margin-top: 10px;
    }
    .home-content h1{
        font-size: 60px;
    }
    .home-content p {
        font-size: 20px;
        padding: 0 45px;
    }
    .home-content p br {
        display: none;
    }
    .home-btn {
       height: 55px;
       width: 200px;
       line-height: 55px;
       font-size: 16px;
   }
   .main-menu li {
       margin-right: 15px;
       font-size: 13px;
   }
   .section-title h3 {
       font-size: 38px;
       margin-bottom: 35px;
   }
   .section-title p {
       font-size: 20px;
   }
   .single-service img {
       max-width: 42px;
       max-height: 42px;
   }
   .service-content {
       margin-left: 15px;
   }
   .service-content h4 {
       font-size: 24px;
   }
   footer .col-25 {
       width: 50%;
   }
   
   .footer-menu li {
       margin-left: 19px;
   }
   .foot-info, .subcription {
       margin-top: 40px;
   }
   .copyright {
       font-size: 10px;
   }
   .copy-text {
       font-size: 10px;
   }
   .to-top {
       font-size: 15px;
       bottom: 45px;
   }


}

@media (max-width: 767px) {

    [class*="col"] {
        width: 100% !important;
    }
    .sec-pad-bottom {
        padding-bottom: 80px;
    }
    .sec-pad-top {
        padding-top: 80px;
    }

    .top-bar {
        height: auto;
        line-height: unset;
        padding: 15px 0;
        text-align: center;
    }
    .contact-info {
        margin-bottom: 15px;
    }
    .contact-info span {
        margin-left: 5px;
        margin-right: 15px;
    }
    .contact-info span:last-child {
        margin-right: 0;
    }
    .social-icons {
        float: none;
    }
    .social-icons i{
        margin-left: 8px;
        margin-right: 8px;
    }
    header {
        text-align: center;
        height: 120px;
    }
    .logo {
        margin-bottom: 10px;
    }
    .main-menu {
        margin: 0 auto;
    }
    .main-menu li {
        font-size: 12px;
        margin-right: 12px;
    }
    .search i {
        font-size: 13px;
    }
    .home-content h1 {
        font-size: 45px;
        margin-bottom: 20px;
    }
    .home-content p {
        padding: 0 20px;
        font-size: 18px;
        margin-bottom: 30px;
    }
    .home-btn {
        height: 50px;
        width: 185px;
        line-height: 48px;
        font-size: 15px;
    }
    .section-title {
        padding: 0 15px;
    }
    .section-title h3 {
        font-size: 34px;
    }
    .section-title p {
        font-size: 18px;
    }
    .single-service {
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }
    .service .col-33:last-child .single-service {
        margin-bottom: 0;
    }
    .foot-desc {
        margin-bottom: 30px;
    }
    .copyright {
        text-align: center;
    }
    .copyright p {
        margin-bottom: 10px;
    }
    .col-50 .footer-menu {
        margin: 0 auto;
        float: none;
    }
    .to-top {
        height: 30px;
        width: 30px;
        bottom: 30px;
        right: 10px;
        font-size: 13px;
        line-height: 30px;
        opacity: 0.5;
    }
}

@media (max-width: 575px ) {

}