/*

font-family:'Lato', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

*/

/*====== google font====== */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap');

/* ===== basic css =====  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:'Lato', sans-serif;
    font-weight: 700;
}
a {
    transition: .3s;
    color: inherit;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
a,
a:hover,
a:focus {
    text-decoration: none;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.container::before,
.container::after{
    content: "";
    clear: both;
    display: table;
}
.btn {
    display: inline-block;
    border-bottom: 2px solid #00836d;
    outline: none;
    background: #00bc9c;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn:hover{
    background: #07a086;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
}

.sec-pad-top{
    padding-top: 130px;
}
.sec-pad-bottom{
    padding-bottom: 130px;
}
.mb-80 {
    margin-bottom: 80px;
}
.mx-n-15{
    margin: 0 -15px;
}
/*======== column layout =========*/

.col-50{
    float: left;
    width: 50%;
    padding: 0 15px;
}
.col-20{
    float: left;
    width: 20%;
    padding: 0 15px;
}
.col-80{
    float: left;
    width: 80%;
    padding: 0 15px;
}
.col-33{
    float: left;
    width: 33.33%;
    padding: 0 15px;
}
.col-25{
    float: left;
    width: 25%;
    padding: 0 15px;
}
.col-100{
    float: left;
    width: 100%;
    padding: 0 15px;
}
.mb-30{
    margin-bottom: 30px;
}
/*========= top-bar ======== */

.top-bar {
    height: 40px;
    background: #f5f7fa;
    line-height: 40px;
    border-bottom: 2px solid #e6e9ed;
}
.social-icons{
    float: right;
}
.contact-info{
    font-size: 12px;
    color: #506a85;
}
.contact-info span{
    margin-right: 28px;
    margin-left: 8px;
}
.social-icons i{
    color: #506a85;
    font-size: 13px;
    margin-left: 20px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.social-icons i:hover{
    color: #00bc9c;
}

/* ========= header area start ============*/

header {
    height: 115px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}
header .container {
    width: 1170px;
}
.logo img {
    max-width: 100%;
}
nav{
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #506a85;
}
.main-menu {
    list-style: none;
}
.main-menu li {
    display: inline-block;
    margin-right: 45px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}
.main-menu li:hover {
    color: #00bc9c;
}
.search i{
    cursor: pointer;
}

/*======= home section ========*/

.home{
    height: 100vh;
    background: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
}
.home-content {
    width: 100%;
}
.home-content h1 {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 78px;
    text-transform: uppercase;
    font-weight: 900;
}
.home-content p{
    font-size: 24px;
    margin-bottom: 65px;
    color: #a3b1bf;
}
.home-btn {
    height: 65px;
    width: 295px;
    font-size: 18px;
    line-height: 61px;
}

/*======= service area ========*/

.section-title {
    text-align: center;
    margin-bottom: 80px;
}
.section-title h3 {
    font-size: 44px;
    color: #506a85;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.section-title p{
    font-size: 22px;
    color: #73879c;
}
.single-service{
    display: flex;
    align-items: flex-start;
}
.single-service img {
    max-width: 55px;
    max-height: 60px;
}
.service-content {
    margin-left: 25px;
}
.service-content h4 {
    color: #506a85;
    font-size: 26px;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.service-content p {
    color: #73879c;
    font-size: 16px;
    line-height: 24px;
}

/*=========== work area ==========*/

.work {
    background: #f2f5f7;
}

.single-work {
    background: #fff;
    padding-bottom: 30px;
}
.single-work.alt {
    padding-bottom: 0;
    margin-bottom: 45px;
}
.single-work img {
    width: 100%;
}
.single-work-content {
    margin-top: 35px;
    text-align: center;
}
.single-work-content h4{
    font-size: 20px;
    color: #506a85;
}
.single-work-content p {
    font-size: 16px;
    color: #73879c;
    margin-top: 15px;
}
.carosel-nav {
    text-align: center;
}
.carosel-nav span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #506a85;
    margin: 0 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.carosel-nav span.active{
    background: #00bc9c;
}
/*======== c2a area =========*/

.c2a-btn {
    width: 150px;
    height: 50px;
    margin-top: 45px;
    line-height: 50px;
    font-size: 15px;
}
.c2a .section-title {
    margin-bottom: 0;
}

/*======== footer area =========*/


footer{
    background: #2f4052;
    padding: 75px 0;
}
.foot-desc img{
    width: 130px;
    margin-bottom: 20px;
}
.foot-head {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 25px;
}
.foot-text {
    font-size: 14px;
    color: #a3b1bf;
    line-height: 22px;
    margin-bottom: 20px;
}

.foot-more{
    font-size: 15px;
    font-weight: 700;
    color: #a3b1bf;
}
.foot-more i{
    margin-left: 5px;
    font-size: 14px;
}
.foot-thumb img{
    width: 100%;
}
.foot-thumb{
    margin-bottom: 5px;
}
.foot-work {
    margin: 0 -5px;
}
.foot-work .col-50 {
    padding: 0 5px;
}
.foot-info .info p{
    margin-bottom: 5px;
    color: #a3b1bf;
}
.foot-info .info p i{
    text-align: center;
    line-height: 20px;
    height: 20px;
    width: 20px;
    font-size: 13px;
    margin-right: 5px;
}
.sub-form {
    background: #4e5c6c;
    padding: 5px;
    height: 40px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.sub-text {
    border: none;
    outline: none;
    float: left;
    max-width: 60%;
    line-height: 30px;
    padding: 0 10px;
    background: transparent;
    color: #fff;
}
.sub-btn {
    width: 95px;
    height: 30px;
    float: right;
    font-size: 12px;
    line-height: 30px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.sub-btn:hover{
    transform: none;
    box-shadow: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

/*======== copyright area ========*/



.copyright {
    padding: 22px;
    background: #283645;
    position: relative;
}
.copy-text {
    color: #707e8c;
    font-size: 14px;
    font-weight: 700;
}
.footer-menu li{
    display: inline-block;
    color: #707e8c;
    text-transform: capitalize;
    margin-left: 25px;
    font-weight: 700;
    position: relative;
}
.footer-menu{
    float: right;
    list-style-type: none;
}
.footer-menu li::before{
    content: '';
    position: absolute;
    left: -15px;
    top: 50%;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #707e8c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.footer-menu li:first-child::before{
    display: none;
}
.to-top {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    right: 30px;
    bottom: 20px;
    background: #3c5065;
    color: #707e8c;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


